
src/app/components/home/all-movie/all-movie.component.scss
src/app/components/home/all-movie/all-movie.component.spec.ts
src/app/components/home/all-movie/all-movie.component.ts
src/app/components/home/home.component.html
src/app/components/home/home.component.scss
src/app/components/home/home.component.spec.ts
src/app/components/home/home.component.ts
src/app/components/home/new-movie/new-movie.component.html
src/app/components/home/new-movie/new-movie.component.scss
src/app/components/home/new-movie/new-movie.component.spec.ts
src/app/components/home/new-movie/new-movie.component.ts
src/app/components/navbar/navbar.component.html
src/app/components/navbar/navbar.component.scss
src/app/components/navbar/navbar.component.spec.ts
src/app/components/navbar/navbar.component.ts
src/app/services/api/api.service.spec.ts
src/app/services/api/api.service.ts
src/app/services/http/http.service.spec.ts
src/app/services/http/http.service.ts
src/environments/environment.ts
src/index.html
src/styles.scss
