
src/app/components/home/all-movie/all-movie.component.scss
src/app/components/home/all-movie/all-movie.component.spec.ts
src/app/components/home/all-movie/all-movie.component.ts
src/app/components/home/home.component.html
src/app/components/home/home.component.scss
src/app/components/home/home.component.spec.ts
src/app/components/home/home.component.ts
src/app/components/home/new-movie/new-movie.component.html
src/app/components/home/new-movie/new-movie.component.scss
src/app/components/home/new-movie/new-movie.component.spec.ts
src/app/components/home/new-movie/new-movie.component.ts
src/app/components/navbar/navbar.component.html
src/app/components/navbar/navbar.component.scss
src/app/components/navbar/navbar.component.spec.ts
src/app/components/navbar/navbar.component.ts
src/app/services/api/api.service.spec.ts
src/app/services/api/api.service.ts
src/app/services/http/http.service.spec.ts
src/app/services/http/http.service.ts
src/environments/environment.ts
src/index.html
src/styles.scss
*.pack
node_modules/ngx-owl-carousel-o/public_api.d.ts
node_modules/ngx-owl-carousel-o/package.json
node_modules/ngx-owl-carousel-o/ngx-owl-carousel-o.d.ts
node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.green.scss
node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss
node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel.scss
node_modules/ngx-owl-carousel-o/lib/styles/scss/_video.scss
node_modules/ngx-owl-carousel-o/lib/styles/scss/_theme.scss
node_modules/ngx-owl-carousel-o/lib/styles/scss/_theme.green.scss
node_modules/ngx-owl-carousel-o/lib/styles/scss/_theme.default.scss
node_modules/ngx-owl-carousel-o/lib/styles/scss/_lazyload.scss
node_modules/ngx-owl-carousel-o/lib/styles/scss/_core.scss
node_modules/ngx-owl-carousel-o/lib/styles/scss/_autoheight.scss
node_modules/ngx-owl-carousel-o/lib/styles/scss/_animate.scss
node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.video.play.png
node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.green.min.css
node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.green.css
node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css
node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.css
node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css
node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.css
node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/ajax-loader.gif
node_modules/ngx-owl-carousel-o/lib/services/window-ref.service.d.ts
node_modules/ngx-owl-carousel-o/lib/services/resize.service.d.ts
node_modules/ngx-owl-carousel-o/lib/services/navigation.service.d.ts
node_modules/ngx-owl-carousel-o/lib/services/logger.service.d.ts
node_modules/ngx-owl-carousel-o/lib/services/lazyload.service.d.ts
node_modules/ngx-owl-carousel-o/lib/services/hash.service.d.ts
node_modules/ngx-owl-carousel-o/lib/services/document-ref.service.d.ts
node_modules/ngx-owl-carousel-o/lib/services/carousel.service.d.ts
node_modules/ngx-owl-carousel-o/lib/services/autoplay.service.d.ts
node_modules/ngx-owl-carousel-o/lib/services/autoheight.service.d.ts
node_modules/ngx-owl-carousel-o/lib/services/animate.service.d.ts
node_modules/ngx-owl-carousel-o/lib/models/stage-data.model.d.ts
node_modules/ngx-owl-carousel-o/lib/models/SlidesOutputData.d.ts
node_modules/ngx-owl-carousel-o/lib/models/slide.model.d.ts
node_modules/ngx-owl-carousel-o/lib/models/owlDOM-data.model.d.ts
node_modules/ngx-owl-carousel-o/lib/models/owl-options.model.d.ts
node_modules/ngx-owl-carousel-o/lib/models/navigation-data.models.d.ts
node_modules/ngx-owl-carousel-o/lib/carousel/stage/stage.component.d.ts
node_modules/ngx-owl-carousel-o/lib/carousel/owl-router-link.directive.d.ts
node_modules/ngx-owl-carousel-o/lib/carousel/owl-carousel-o-config.d.ts
node_modules/ngx-owl-carousel-o/lib/carousel/carousel.module.d.ts
node_modules/ngx-owl-carousel-o/lib/carousel/carousel.component.d.ts
node_modules/ngx-owl-carousel-o/lib/carousel/carousel-slide.directive.d.ts
node_modules/ngx-owl-carousel-o/index.d.ts
node_modules/ngx-owl-carousel-o/fesm2020/ngx-owl-carousel-o.mjs.map
node_modules/ngx-owl-carousel-o/fesm2020/ngx-owl-carousel-o.mjs
node_modules/ngx-owl-carousel-o/fesm2015/ngx-owl-carousel-o.mjs.map
node_modules/ngx-owl-carousel-o/fesm2015/ngx-owl-carousel-o.mjs
node_modules/ngx-owl-carousel-o/esm2020/public_api.mjs
node_modules/ngx-owl-carousel-o/esm2020/ngx-owl-carousel-o.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/services/window-ref.service.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/services/resize.service.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/services/navigation.service.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/services/logger.service.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/services/lazyload.service.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/services/hash.service.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/services/document-ref.service.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/services/carousel.service.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/services/autoplay.service.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/services/autoheight.service.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/services/animate.service.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/models/stage-data.model.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/models/SlidesOutputData.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/models/slide.model.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/models/owlDOM-data.model.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/models/owl-options.model.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/models/navigation-data.models.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/carousel/stage/stage.component.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/carousel/owl-router-link.directive.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/carousel/owl-carousel-o-config.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/carousel/carousel.module.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/carousel/carousel.component.mjs
node_modules/ngx-owl-carousel-o/esm2020/lib/carousel/carousel-slide.directive.mjs
node_modules/ngx-owl-carousel-o/esm2020/index.mjs
node_modules/font-awesome/scss/font-awesome.scss
node_modules/font-awesome/scss/_variables.scss
node_modules/font-awesome/scss/_stacked.scss
node_modules/font-awesome/scss/_screen-reader.scss
node_modules/font-awesome/scss/_rotated-flipped.scss
node_modules/font-awesome/scss/_path.scss
node_modules/font-awesome/scss/_mixins.scss
node_modules/font-awesome/scss/_list.scss
node_modules/font-awesome/scss/_larger.scss
node_modules/font-awesome/scss/_icons.scss
node_modules/font-awesome/scss/_fixed-width.scss
node_modules/font-awesome/scss/_core.scss
node_modules/font-awesome/scss/_bordered-pulled.scss
node_modules/font-awesome/scss/_animated.scss
node_modules/font-awesome/README.md
node_modules/font-awesome/package.json
node_modules/font-awesome/less/variables.less
node_modules/font-awesome/less/stacked.less
node_modules/font-awesome/less/screen-reader.less
node_modules/font-awesome/less/rotated-flipped.less
node_modules/font-awesome/less/path.less
node_modules/font-awesome/less/mixins.less
node_modules/font-awesome/less/list.less
node_modules/font-awesome/less/larger.less
node_modules/font-awesome/less/icons.less
node_modules/font-awesome/less/font-awesome.less
node_modules/font-awesome/less/fixed-width.less
node_modules/font-awesome/less/core.less
node_modules/font-awesome/less/bordered-pulled.less
node_modules/font-awesome/less/animated.less
node_modules/font-awesome/HELP-US-OUT.txt
node_modules/font-awesome/fonts/FontAwesome.otf
node_modules/font-awesome/fonts/fontawesome-webfont.woff2
node_modules/font-awesome/fonts/fontawesome-webfont.woff
node_modules/font-awesome/fonts/fontawesome-webfont.ttf
node_modules/font-awesome/fonts/fontawesome-webfont.svg
node_modules/font-awesome/fonts/fontawesome-webfont.eot
node_modules/font-awesome/css/font-awesome.min.css
node_modules/font-awesome/css/font-awesome.css.map
node_modules/font-awesome/css/font-awesome.css
node_modules/font-awesome/.npmignore
node_modules/__ngcc_entry_points__.json
node_modules/.package-lock.json
node_modules/.cli-ngcc/90d178559c969af98dc852eaf556c4aad3fb2b3b85105fe16473c322c679487c.lock
node_modules/.cli-ngcc/05bbbb77cd0ce5c84a6752b0f91c0f26f76a37d7ad5485159404871964e51b19.lock
angular.json
