<div class="w-100 mt-3">
    <img  style="width: 100%;  object-fit: cover;" src='{{env}}{{item?.poster_path}}'  alt="">
</div>
<p class="mt-1 mb-0">{{item.title}}</p>

<!-- <p class="mb-0" style="font-size: 0.7rem;">{{item.premiered| date:'MM/dd/yyyy'}} <span style="color: rgb(255, 230, 0);margin-left: 5px;">IMDB {{item.rating.average}}</span> </p> -->

<!-- <div style="float: left;" *ngFor="let genre of item.genres" >    
    <p style="font-size: 0.7rem; opacity: 80%; margin: 0px 0.2rem 0rem 0px;" >{{genre}}</p>
</div> -->
